$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$FontAwesomePath: "../bower_components/font-awesome/font";
$baseFontFamily: "FontAwesome";

@import 'compass/css3';
@import 'sass-bootstrap/lib/bootstrap';
@import "font-awesome/scss/font-awesome";

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* Code examples */
code {
  color: #008;
}

pre.prettyprint {
  @include border-radius(0px);
  border: none;
  border-left: 5px solid #CCC;
  padding-top: 8px;
  padding-bottom: 8px;

  ol {
    list-style-type: decimal;
    padding-left: 10px;
    color: #AAA;

    li {
      list-style-type: decimal !important;
    }
  }
}

/*
==============================================
slideUp
==============================================
*/
.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;  

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;

  visibility: visible !important;     
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }     
  100% {
    transform: translateY(0%);
  } 
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }     
  100% {
    -webkit-transform: translateY(0%);
  } 
}

$primaryColor: #850116;
$secondaryColor: #D20222;
$tertiaryColor: #C50220;

.jumbotron {
  @include box-shadow(inset rgba(0, 0, 0, 0.5) 0px -3px 7px);
  background-color: $primaryColor;
  background-image: linear-gradient(30deg, $secondaryColor 12%, transparent 12.5%, transparent 87%, $secondaryColor 87.5%, $secondaryColor),
  linear-gradient(150deg, $secondaryColor 12%, transparent 12.5%, transparent 87%, $secondaryColor 87.5%, $secondaryColor),
  linear-gradient(30deg, $secondaryColor 12%, transparent 12.5%, transparent 87%, $secondaryColor 87.5%, $secondaryColor),
  linear-gradient(150deg, $secondaryColor 12%, transparent 12.5%, transparent 87%, $secondaryColor 87.5%, $secondaryColor),
  linear-gradient(60deg, $tertiaryColor 25%, transparent 25.5%, transparent 75%, $tertiaryColor 75%, $tertiaryColor), 
  linear-gradient(60deg, $tertiaryColor 25%, transparent 25.5%, transparent 75%, $tertiaryColor 75%, $tertiaryColor);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-attachment: fixed;
  padding: 50px 0 50px 0;
  margin-bottom: 40px;

  h1, h4 {
    font-family: 'Gudea', Helvetica, sans-serif;
    @include text-shadow(rgba(255, 255, 255, 0.7) 1px 1px 10px, rgba(0, 0, 0, 0.5) 1px 1px 3px);
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 18px;
  }

  h4 {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 100;
    font-size: 28px;
    margin-bottom: 50px;
  }

  #box {
    @include box-shadow(lighten($secondaryColor, 10%) 0px 0px 5px);
    border: 1px solid $secondaryColor;
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
    height: 300px;
    overflow: auto;
    box-sizing: border-box;
  }

  input {
    @include box-shadow(lighten($secondaryColor, 10%) 0px 0px 5px);
    border: 1px solid $secondaryColor;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
  }

  #time-left {
    @include text-shadow(rgba(0, 0, 0, 0.5) 1px 1px 2px);
    min-height: 30px;
    display: block;
    padding-top: 5px;
    color: white;
  }

  .share {
    @include text-shadow(rgba(0, 0, 0, 0.5) 1px 1px 2px);
    color: white;
  }
}

.btn i {
  margin-right: 5px;
}

a {
  color: $tertiaryColor;
}

.center {
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Gudea', Helvetica, sans-serif;
}

#get-started {
  margin-top: 8px;
}

.hidden {
  display: none;
}

footer {
  padding: 20px;
}
